body {
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}